*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
    // overflow-y:inherit;
    font-family: "Lato", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    font-family: "Lato", sans-serif;
    overflow: hidden;
}